server:
  port: 0

spring:
  sql:
    init:
      mode: always
  #DB connection
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/core_user_service
    username: postgres
    password: root
    initialization-mode: always
  jpa:
    defer-datasource-initialization: true
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    config:
      fail-fast: true
      retry:
        initial-interval: 3000
        max-attempts: 10
        max-interval: 10000

logging:
  level:
    ru:
      practicum: TRACE
    org:
      springframework:
        orm:
          jpa: DEBUG
        transaction: DEBUG
  root: INFO