server:
  port: 0

grpc:
  server:
    port: 0

spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: TRUE
        jdbc:
          time_zone: UTC
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  sql:
    init:
      mode: always
      platform: h2

  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    ru.practicum.stats.analyzer: TRACE
    org:
      springframework: ERROR
      springframework.cloud.netflix.eureka: INFO
      apache.kafka: WARN

analyzer:
  kafka:
    common-properties:
      "bootstrap.servers": "localhost:9092"
      "key.deserializer": "org.apache.kafka.common.serialization.StringDeserializer"
      "enable.auto.commit": false
    consumers:
      - type: UserActionProcessor
        properties:
          "value.deserializer": "ru.practicum.stats.avro.deserializer.UserActionDeserializer"
          "group.id": "stats.analyzer.actions"
        topics:
          - "stats.user-actions.v1"
        poll-timeout: 500ms
      - type: SimilarityProcessor
        properties:
          "value.deserializer": "ru.practicum.stats.avro.deserializer.EventsSimilarityDeserializer"
          "group.id": "stats.analyzer.similarity"
        topics:
          - "stats.events-similarity.v1"
        poll-timeout: 500ms

